{% for config in themeConfig.blocks.left|default([]) %}
    {% set code = config.code %}
    {% if code == 'footer-link' %}
      {% set category = config.categoryId|default(0) ? data('Category', {categoryId: config.categoryId})  : null %}
      {% include 'default/' ~ code ~ '.html.twig' with {config:config, category: category} %}
    {% endif %}
{% endfor %}

<footer class="es-footer">
  <div class="copyright">
{#    <div class="container">#}
{#      {% include "powered-by.html.twig" %}#}

{#      {{ setting('site.analytics')|raw }}#}

{#      {% if setting('siteTrace.enabled')|default(false) %}#}
{#        {{ setting('siteTrace.script')|raw }}#}
{#      {% endif %}#}

{#      <a class="mlm" href="{{ path('course_set_archive') }}">{{'homepage.footer.archive'|trans}}</a>#}
{#      <div class="mts">#}
{#        {% if setting('site.copyright') %}#}
{#          {{ 'homepage.footer.course_copyright'|trans({'%copyRightUrl%':setting('site.copyright')})|raw }}#}
{#        {% endif %}#}
{#        {% if setting('site.icp') %}#}
{#          <a class="mlm" href={{ setting('site.icpUrl')|default('http://www.beian.miit.gov.cn') }} target="_blank">#}
{#            {{ setting('site.icp') }}#}
{#          </a>#}
{#        {% endif %}#}
{#      </div>#}
{#    </div>#}
  </div>
</footer>
