<div class="footer-autumn">
  <div class="container">

{#    <div class="footer-links">#}
{#      {{ render(controller('AppBundle:Default:footNavigation')) }}#}
{#    </div>#}

{#    <div class="footer-copyright">#}
{#      {% include "powered-by.html.twig" %}#}
{#      {{ setting('site.analytics')|raw }}#}
{#      {% if setting('siteTrace.enabled')|default(false) %}#}
{#        {{ setting('siteTrace.script')|raw }}#}
{#      {% endif %}#}
{#      <a class="mlm" href="{{ path('course_set_archive') }}">{{ '课程存档'|trans }}</a>#}
{#      <div class="mts">#}
{#        {% if setting('site.copyright') %}{{ '课程内容版权均归'|trans }}#}
{#          <a href="/">{{ setting('site.copyright') }}</a>{{ '所有'|trans }}#}
{#        {% endif %}&nbsp;#}
{#        {% if setting('site.icp') %}#}
{#          <a href={{ setting('site.icpUrl')|default('http://www.beian.miit.gov.cn') }} target="_blank">#}
{#            {{ setting('site.icp') }}#}
{#          </a>#}
{#        {% endif %}#}
{#      </div>#}
{#    </div>#}
  </div>
</div>